APP_NAME="GES"

NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://postgres:root@localhost:5432/ges"
JWT_SECRET="super_secret_key"
JWT_EXPIRES_IN=1d

MESSAGE_MODE="live"
TEMP_TOKEN="844cf9a4-aa59-4142-887e-a9bb802079c"

CHATBOT_UNSEND_MESSAGE='add_here_unsend_message_api'
CHATBOT_URL='add_here chatbot_url'


OPENAI_API_KEY="test"

DEEPSEEK_API_KEY="test"

AI_MODE="openai" # or deepseek


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_password  # optional
REDIS_DB=0  # optional, defaults to 0